.mid{
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    height: 600px;
}
.contacto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 78%;
}
.abajo{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: lightgray;

}
p{
    margin: 0;
}
.redes{
    display: flex;
    flex-direction: column;
    border-left: 1px solid;
    float: right;
}
.tw{
    color:  #00acee;
}
.wpp{
    color: #25D366;
    background: white;
}
.fb{
    color: #3b5998;
    background: white;
}
.ig{
    background: grey;
    color: white;
}
